<!DOCTYPE html>
<html>
    <head>
        <title>CRICKET</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            h1{
                color : white;text-align: center;font-family : cursive;font-size: 70px;
            }
            h2{
                color : white;
            }
            tr,th,table{
                border: 1px solid black;
                text-align: center;
            }
            .table{
                width: 80%;
                margin-left: 10%;
                margin-right: 0;
                opacity: 0.7;
            }
            .row{
                margin-bottom: 3%;
            }
            html{
                height: 100%;
                width: 100%;
             }
             body{
                background: url("https://images.unsplash.com/photo-1559579313-021b6ec9f6d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
                background-size: 100% 100%;
                background-position: center; 
             }
             .table:hover{
                 opacity: 1;
             }
        </style>
</head>
    <body>
