<!DOCTYPE html>
<html>
    <head>
        <title>CRICKET</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            tr,th,table{
                border: 1px solid black;
                text-align: center;
            }
            .table{
                width: 80%;
                margin-left: 10%;
                margin-right: 0;
            }
            .btn-success{
                width: 12%;
                margin-left: 80%;
                margin-top: 0;
                margin-bottom: 3%;  
            }
            html{
                height: 100%;
                width: 100%;
            }
            body{
               background: lightgreen;
            }
            h1{
                text-align: center;
                color: darkred;
                text-decoration-line: underline;
            }
            h2{
                margin-left: 5%;
                color: red;
            }
        </style>
    </head>
    <body>