<% include partials/header %>
<h1>TOURNAMENTS</h1>
<table class="table table-striped table-dark">
    <tr>
        <th>TOURNAMENTS NAME</th>
        <th>STARTS FROM</th>
        <th>ENDS ON</th>
    </tr>

    <% list["tournaments"].forEach(function(tournament){  %>
        <tr>
        <th> <a href="tournamentInfo/<%= tournament['id'] %>"> <%= tournament["name"] %> </a> </th>
        <th> <%= tournament["current_season"]["start_date"] %> </th>
        <th> <%= tournament["current_season"]["end_date"] %> </th>
        <%  })  %>
</tr>
</table>


<% include partials/footer %>